<div class="container">
<div class="contenedor-admin">
    <h2>Panel de Administración - Carga de Café</h2>
    <form id="form-producto">
        <input type="text" id="nombre" placeholder="Nombre del grano (Ej: Geisha)" required>
        <input type="text" id="origen" placeholder="Origen (Ej: Huila, Colombia)" required>
        <select id="tostado">
  
            <option value="" selected>seleccionar tipo de tostion</option>
            <option value="Claro">Tostado Claro</option>
            <option value="Medio">Tostado Medio</option>
            <option value="Oscuro">Tostado Oscuro</option>
        </select>
        <select  id="estado">
            <label for="estado">Estado</label>
            <option value="" selected> Seleccionar estado</option>
            <option value="disponible">Disponible</option>
            <option value="no-disponible">No disponible</option>
        </select>
     <label for="imagen">Imagen del producto:</label>
    <input type="file" id="imagen" accept="image/*" required>
    
    <input type="number" id="stock" placeholder="Cantidad en inventario (Stock)" required>
    <input type="number" id="precio" placeholder="Precio" required>
        <textarea id="descripcion" placeholder="Notas de cata (Ej: Notas frutales, jazmín)"></textarea>
        
        <button type="submit" id="btnAgregar">Agregar al Catálogo</button>
    </form>
</div>
</di>